body{
	font-family: 'Open Sans', sans-serif;
	color: #555555;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.red-box, .green-box, .blue-box{
	margin: 60px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-color{
	font-size: 30px;
	font-weight: 700;
}

.number-rgb{
	font-weight: 700;
}

input[type="range"]{
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

.result{
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}

input[type='range'] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 10px;
  background: #555555;
}

input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: -10px;
  background: #616161;
  border-radius: 50%;
  border: 3px solid white;
}

input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px; 
  width: 500px; 
  left: -502px; 
  top: 8px; 
  background: #777;
}

/*media queries*/
@media(max-width: 600px){
	.container{
		flex-direction: column;
		margin-top: 0px;
	}
}

@media(min-width: 601px) and (max-width: 1024px){
	.red-box, .green-box, .blue-box{
		margin: 10px;
	}
}